/*--
#F1F4F4 - Porcelain White: Light Shades
#525252 - Emperor Grey: Light Accent
#C5B4B0 - Silk Pink: Main brand color
#52556B - Comet Blue: Dark Accent
#023E7E - Congress Blue: Dark Shades
-- */

html{
	scroll-behavior: smooth;
}

*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.fixed-top {
    background: #000;
}

a:link{
	text-decoration: none;
}

a:hover, a:focus,
.nav-item a:hover, .nav-item a:focus{
	text-decoration: underline;
}

li{
	list-style: none;
}

p{
	font-size: 1em;
	line-height: 1.6em;
	font-weight: 400;
	color: #4A4A4A;
}

i{
	color: #023E7E;
}

.extra-div h2{
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;
	text-transform: uppercase;
}

#top-header{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(82, 85, 107, 0.3), rgba(82, 85, 107, 0.3)), url('img/jumbotron.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
	position: relative;
}

#top-header:before,
.navbar:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: .4;
	z-index: -1;
	/*background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #52556B 100%);*/
	background: linear-gradient(to right, #1e5799 0%, #1e5799 0%, #1e5799 100%)
}

.navbar-toggler-icon{
	color: #000;
}

.nav-item a{
	color: #fff!important;
	font-weight: bold;
}

.header-section{
	width: 100%;
	height: inherit;
	color: #fff;
	text-align: center;
	position: relative;
}

.header-buttons a{
	border: 1px solid #fff;
	border-radius: 100px;
	margin: 5px 0;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
}

.header-buttons a:hover{
	color: #604c48;
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.center-div p{
	font-size: 1.4rem;
	padding: 10px 0 20px 0;
	color: #fff;
}

.header-extra-div{
	width: 100%;
	height: auto;
	margin: 100px 0;
	text-align: center;
}

.extra-div{
	background: #fff;
	border: medium none;
	padding: 30px;
	border-radius: 3px;
	transition: 0.3s;
}

.extra-div:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-20px);
}

.service-offers{
	/*background: #f7f7f9;*/
	background: #f1f4f4;
	padding: 50px 0;
	margin-bottom: 50px;
}

.service-div{
	margin-top: 24px;
}

.headings{
	margin-bottom: 50px;
}

.headings h2{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}

.names h3, .service-div h3{
	color: #2e2e2e;
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: bold;
}

.service-icons{
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress{
	height: 0.6rem;
	margin-bottom: 25px;
	background: #4a4a4a;
}

.project-work{
	margin: 100px 0;
}

/*.project-work h1{
	font-size: 2rem;
	text-align: center;
}*/

.project-work h3{
	font-size: 1.6em;
}

/*.project-work h3:after{
	content: "";
	padding-left: 25%;
}*/

.project-work h4 {
  font-size: 1.2em;
}

.project-work h3, .project-work h4 {
  /*width: 50%;*/
  line-height: 2em;
  margin: 0;
  padding: 0;
  /*display: inline;*/
}​

.pricing{
	width: 100%;
	height: 100vh;
	padding: 50px;
	position: relative;
}

.pricing:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(0deg, #52556B 100%, #fff 0%);
}

.money{
	font-size: 40px;
	line-height: 1;
	color: #4a4a4a;
}

.card{
	transition: 0.4s ease;
	background: #f1f4f4;
}

.card-header{
	font-size:  1.6rem;
	font-weight: bold;
	background: #fff;
	padding: 25px 9px;
}

.card-body{
	padding: 30px 0;
}

.card-body li{
	margin: 10px 0;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6em;
	color: #4a4a4a;
}

.card-footer{
	background: #fff;
	padding: 30px 0;
}

.card-footer a{
	border: 1px solid #604c48;
	border-radius: 100px;
	margin: 5px 0;
	padding: 12px 35px;
	outline: none;
	color: #604c48;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
}

.card:hover .card-footer a{
	color: #fff;
	background: #604c48;
	text-decoration: none;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card:hover .card-header,
.card:hover .money{
	color: #604c48;
}

.card-second{
	transform: translateY(-20px);
	/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);*/
}

.happy-clients{
	width: 100%;
	height: 100vh;
	padding: 80px 0;
}

.box{
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	transition: 0.3s ease;
}

.box a{
	position: relative;
}

.box a:after{
	content: "\f10d";
	font-family: FontAwesome;
	width: 40px;
	height: 40px;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #52556B 100%);
	color: #fff;
	position: absolute;
	top: 120%;
	left: 70%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box h1{
	font-size: 18px;
	font-weight: 700;
	color: #000;
	margin-bottom: 10px;
}

.box h2{
	font-size: 13px;
	font-weight: 400;
	color: #666666;
	margin-bottom: 20px;
}

.box a img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 20px;
}

.box:hover{
	background: #52556B;
}

.box:hover p{
	color: #fff;
}

.carousel-indicators{
	position: absolute;
	right: 0;
	bottom: -60px;
}

.carousel-indicators li{
	background-color: #52556B !important;
}

.contact-us{
	width: 100%;
	height: 100vh;
	padding: 80px 0;
	position: relative;
}

.contact-us:before{
	content: "";
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	/*background: linear-gradient(330deg, #52556B 55%, #fff 0%);*/
	background: linear-gradient(0deg, #f1f4f4 100%, #fff 0%);
	z-index: -1;
}

.form-button button{
	border-radius: 100px;
	margin: 5px 0;
	padding: 12px 35px;
	outline: none;
	color: #007bff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	background: transparent;
}

.form-button button:hover{
	color: #fff;
}

form:hover .form-button button{
	background: #fff;
	color: #525252;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder{
	font-size: 0.85em;
}

/*.newsletter{
	width: 100%;
	height: auto;
	margin: 80px auto;
}

.news-input{
	border-radius: 100px 0px 0px 100px;
	min-width: 150px;
	min-height: 45px;
}*/

.input-group-text{
	color: #fff;
	background: #5bc0de;
	border-radius: 0px 100px 100px 0px;
	min-width: 150px;
	min-height: 45px;
}

.footer-section{
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	/*background: #00abff;*/
	background: #525252;
	position: relative;
}

.footer-section p{
	color: #fff;
}

.footer-section li a{
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.6;
	color: #fff;
	text-transform: capitalize;
}

.footer-section h3{
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.2em;
	font-weight: 600;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#myBtnUp{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border: none;
	color: #fff;
	background: #00abff;
	padding: 20px;
	border-radius: 10px;
	font-size: 2em;
}

#myBtnUp:hover{
	background: #4a4a4a;
}

@media(max-width: 768px){
	.nav-item{
		text-align: center;
		line-height: 2em;
		font-size: 1.5em;
	}
	
	.pricing, .happy-clients, .contact-us{
		height: auto;
		margin-top: 50px;
	}​
	
	.card-second{
		transform: translateY(0);
		margin: 30px 0;
	}
	
	.contact-us p{
		padding: 0 50px;
	}
	
	.footer-div:nth-child(2){
		text-align: left !important;
	}
	
	.footer-div{
		margin: 30px 0;
	}
}